<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymelife/layout"
layout:decorate="~{layout.html}">>
<head>
<meta charset="UTF-8">
<div layout:fragment="content">
</head>
<body>
<h3></h3>
	<div class="container">
		<div class="card mb-3">
			<form th:action="@{/login}" class="card-body" method="post" >
				<div class="form-group">
					<label for="username" > Usuário</label>
					<input name="username" class="form-control" placeholder="usuário"/>
				</div>
				<div class="form-group">
					<label for="password" > Senha</label>
					<input type="password" name="password" class="form-control" placeholder="senha"/>
				</div>
				<button class="btn btn-primary" type="submit"> Login</button>
			</form>
		
		</div>
	
	</div>
	

</body>
</div>
</html>